#container-box{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    height:200px;
    width:320px;
    border: 2px solid burlywood;
    gap: 4px;
}
.box{
    border: 1px solid brown;
}
/* .box:nth-child(1){
    display: flex;
    height:100px;
    width: auto;
} */
.part{
    border: 1px solid salmon;
    height:fit-content;
    width: 50%;

}
.box:nth-child(1),
.box:nth-child(3),
.box:nth-child(5),
.box:nth-child(7){
    background-color: antiquewhite;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(2,1fr);
    height:100px;
    width: auto;
}